.elemento-1 {
    color: rgb(161, 13, 13);
    font-size: 2rem;
    
}
.Mercado-1 {
    color: rgb(161, 13, 13);
    font-size: 2rem;
}
.tarjeta {
    border-style: solid;
    border-width: 2.5px;
}